
/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/* ==========================================================================
    GENERAL STYLE
   ========================================================================== */

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    
    font-size: 100%;
    font-size: 16px;
    font-size: 1em;
}
#wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
h1, h2 {
    font-family: 'AvenirNextLTPro-Bold', sans-serif;
    font-size: 1em;
}
h3, h4 {
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: .85em;
}
p {
    font-family: 'AvenirNextLTPro-Regular', sans-serif;
    font-size: .75em;
}
a.btn {
    font-family: 'AvenirNextLTPro-Bold', sans-serif;
    font-size: .75em;
    color: #868686;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-decoration: none;
    line-height: .75em;
    padding: 1em;
    border: 2px solid #868686;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}
a.btn:hover {
    color: #e0e0e0;
    border-color: #e0e0e0;
    background-color: rgba(0, 0, 0, .1);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}
header {
    height: 50px;
    width: 100%;
    background-color: black;
    position: absolute; top: 0; left: 0;
    z-index: 999;
}
a.menu-btn,
a.back-btn {
    font-size: 18px;
    color: #E0E0E0;
    text-decoration: none;
    display: block;
    padding-top: 10px;
    margin-left: 15px;
    width: 20px;
    color: white;
    -webkit-transition: color .25s ease;
    -moz-transition: color .25s ease;
    transition: color .25s ease;
}
    a.menu-btn:hover,
    a.back-btn  {
        color: white;
        -webkit-transition: color .25s ease;
        -moz-transition: color .25s ease;
        transition: color .25s ease;
    }
a.logo, img.logo {
    display: block;
    height: 40px;
    width: 111px;
    background: url('img/logo.png') no-repeat;
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -55px;
}
.logo_big{
    height: 90px;
    width: 250px;
    padding-bottom: 50px;
    display: block;
    margin: 0 auto;
    margin-top: 60px;
}

header.home a.logo {
    top: 10px;
    background: none;
    margin-left: -87px;
}

/* ==========================================================================
    HOME PAGE
   ========================================================================== */
/* gnrl style pour les 4 sections */ 
.section{
    width:25%;
    height: 100%;
    display:inline-block;
    margin:0px;
    padding:0px;
    position:absolute;
    z-index: 7777;
    border-right:1px solid #dbdbdb;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    cursor: pointer;
    -webkit-transform: all .3s ease .3s;
      -moz-transition: all .3s ease .3s;
        -o-transition: all .3s ease .3s;
           transition: all .3s ease .3s;
}
.section:last-child{
    border-right:none;
}
/* bg-image pour chaque section */
.section.boxeur.bgOn {background: url("../images/boxeur.jpg") no-repeat ;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover; background-size: cover;}
.section.club.bgOn {background: url("../images/club.jpg") no-repeat;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover; background-size: cover;}
.section.entraineur.bgOn {background: url("../images/entraineur.jpg") no-repeat;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover; background-size: cover;}
.section.event.bgOn {background: url("../images/event.jpg") no-repeat;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover; background-size: cover;}

/* style de typo pour les titres */
.title-wrap{
    height:100%;
    width: 100%;
    position:relative;
        -webkit-transform: background .3s ease;
          -moz-transition: background .3s ease;
            -o-transition: background .3s ease;
               transition: background .3s ease;
}
    .title-wrap.black {
        background: rgba(0,0,0,.5);
    }
    .title {
        opacity:0;
        z-index: 49;
        -webkit-transform: all .1s ease .3s;
          -moz-transition: all .1s ease .3s;
            -o-transition: all .1s ease .3s;
               transition: all .1s ease .3s;
        position:absolute;
        color: white;
        top:0;bottom:0;
        left:0;right:0;
        margin:auto;
        height: 85px;
    }
        .title p {
            font-family: 'AvenirNextLTPro-Bold', sans-serif;
            text-align: center;
            margin: 0;
        }
        .title p:first-child{
            font-size: 18px;
        }
        .title p:nth-child(2){
            font-size: 14px;
            line-height: -1px;
        }
        .title p:nth-child(3){
            font-size: 34px;
        }

/* Z-index mgmt pour le hover */
#boxeur{ top:0; left:0; z-index: 50;}
#club{ top:0; left:25%; z-index: 40;}
#club:hover {z-index: 45;}
#event{top:0; right:25%; z-index: 40;}
#entraineur { top:0; right:0; z-index: 50;}

/* placement de la video */
.video-container{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    z-index: 48;
}
    .videoClass { 
        position: absolute;
        top: 0; left: 0;
        height: 100%;
        z-index: 48;
    }

#entraineur:hover,
#event:hover{
    border-left: 1px solid #dbdbdb;
}
.section:hover {
    -webkit-transition: width .25s ease-out;
       -moz-transition: width .25s ease-out;
         -o-transition: width .25s ease-out;
            transition: width .25s ease-out;
}
.section:hover {
    width: 27%;
    height: 100%;
}
.section:hover #video-container,
.section:hover .title {
    opacity:1;
}

/* ==========================================================================
    PAGE LIST
   ========================================================================== */

div#content {
    background: url('img/preview-bg.jpg') no-repeat center center;
    background-position: fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: block;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 50px;
}
    #content .loading-wrap{
        position: absolute; top: 0; left: 0; 
        width: 100%; height: 100%;
        background: black;
    }

        #content .loading-wrap .loading {
            width: 51px; height: 32px;
            position: absolute;
            top: 50%; left: 50%;
            margin-left: -25px;
            margin-top: -16px;
        }
    section#sidebar { position: absolute; z-index: 99; display: inline-block; width: 33.3%; left: -33.3%; height: 100%; background-color: #171717;
        box-sizing: border-box; -moz-box-sizing: border-box; padding-left: 50px; padding-right: 50px;}
        #sidebar h4 {font-family: 'AvenirNextLTPro-Regular', sans-serif; font-size: .875em; color: #ababab; text-transform: uppercase;}
        #sidebar h4 span {opacity: .2;}
        #sidebar .profil-sidebar {position: relative; margin-top: 20px; height: 50px;}
        #sidebar h3 {margin: 0;float:right; margin-right: 50px; margin-top: 5px;font-family: 'AvenirNextLTPro-Demi', sans-serif; display: inline-block; font-size: .875em; color: #4787ab; text-transform: uppercase;}
        #sidebar .profil-pic {position: absolute; right: 0; top: 0;width: 40px; height: 40px; border-radius: 100%; border: 1px solid white; display: block; float: right;}
        #sidebar .profil-sidebar .linksWrap { float: right; clear: both; margin-right: 50px;  } 
        #sidebar .profil-sidebar .linksWrap a {font-family: 'AvenirNextLTPro-Regular' sans-serif ; font-size: .65em ; color: #ababab !important;text-transform: uppercase; text-decoration: none;}
        #sidebar .value-wrap { overflow: auto; display: block; margin: 0 auto; }
        #sidebar .value-wrap input[type='number'] { width: 30px; font-family: 'AvenirNextLTPro-Regular' sans-serif !important; font-size: .65em !important; color: #4787ab !important; margin: 10px auto; display: inline-block; vertical-align: top; color: white; background-color: transparent; border: none;}
        #sidebar .value-span-1 { float:left;}
        #sidebar .value-span-2 { float:right;}
            #sidebar .poid .value-span-1:after, #sidebar .poid .value-span-2:after { content:"Kg"; display: inline-block; vertical-align: baseline; padding-left: .1em;}
            #sidebar .distance .value-span-1:after, #sidebar .distance .value-span-2:after { content:"Km"; display: inline-block; vertical-align: baseline; padding-left: .1em;}
        #sidebar select {width: 200px; border:none; background-color: #101010;box-shadow: none;-webkit-appearance:none;font-family: 'AvenirNextLTPro-Regular', sans-serif; font-size: .875em; color: #575757; text-transform: uppercase;padding:.5em;border-radius: 0;position: relative;margin:0 auto;background-image:url(img/chevron_down.png);background-repeat: no-repeat; background-position: center right; background-position-x: 95%;}
        #sidebar form {position: relative;}
        #sidebar .valid {top: 110%; left: 0;}
        #sidebar input[type="search"] {font-family: 'AvenirNextLTPro-Demi', sans-serif;height: 30px;line-height:30px;display:block; width: 80%; border:none; background:transparent; border-bottom: 1px solid #ababab; text-transform: uppercase;margin: 30px auto 30px;}
        #sidebar .icon-magnifying {position: absolute;color: #ababab;top: 105px; left:283px;}
        #sidebar input[type="search"]:focus {background: #F2F2F2; color: #333;}
    section#list {
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        display: inline-block;
        width: 33.3%;
        height: auto;
        border-right: solid 1px #171717;
        background-color: #101010;
        height: 100%;
        overflow-y: scroll;
        float: left;
        /*overflow-x: none; */
    }
        #list ul, #list li {
            margin: 0; padding: 0;
            list-style-type: none;
            box-sizing:border-box;
            -moz-box-sizing:border-box;
            display: inline-block;
            width:100%;
            overflow: auto;
        }
        #list li {
            height: 80px;
            display: block;
            box-sizing:border-box;
            -moz-box-sizing:border-box;
            border-bottom: 1px solid #171717;
            cursor: pointer;
            -webkit-transition: background .35s ease;
            -moz-transition: background .35s ease;
            transition: background .35s ease;
        }
        #list li:hover {
            background-color: #171717;
            -webkit-transition: background .35s ease;
            -moz-transition: background .35s ease;
            transition: background .35s ease;
        }
        #list i {
            position: absolute; 
            right: 30px;
            top: 32px;
        }
        #list li p.name {
            font-family: 'AvenirNextLTPro-Medium', sans-serif;
            color: #4787ab;
            font-size: .85em;
            letter-spacing: .1em;
            text-transform: uppercase;
            padding-left: 10px;
            padding-top: 20px;
            margin: 0;
            line-height: 20px;
        }
        #list li p:not(.name) {
            font-family: 'AvenirNextLTPro-Medium', sans-serif;
            font-size: .85em;
            padding-left: 10px;
            text-transform: uppercase;
            color: #575757;
            margin: 0;
            line-height: 20px;
            display: block;
        }
            /* list selected */
            #list li.selected {
                background-color: #171717;
            }
            #list li.selected i {
                color: #FFF;
            }
            #list li.selected p.name {
                font-family: 'AvenirNextLTPro-Bold';
            }
            #list li.selected p:not(.name) {
                font-family: 'AvenirNextLTPro-Bold';
                color: #FFF;
            }
    section#preview {
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        display: inline-block;
        width: 66.6%; height: 100%; 
        
    }
    #preview .wrap {
        opacity: 1;
        width: 80%;
        margin: 0 auto;
        overflow: auto;
    }
    #preview img.profil {
        display: inline-block;
        float: left;
        margin-bottom: 20px;
        vertical-align: top;

    }
    #preview .infos {
        display: inline-block;
        margin: 0;        
        padding-left: 30px;
    }
    #preview h2 {
        font-family: 'AvenirNextLTPro-Bold', sans-serif;
        color: #4787ab;
        text-transform: uppercase;
        font-size: 1.4em;
        letter-spacing: .1em;
        margin: 0;
        margin-bottom:30px;
        line-height: 1em;
    }
    #preview p {
        font-family: 'AvenirNextLTPro-Regular', sans-serif;
        color: #868686;
        font-size: .8em;
        letter-spacing: .1em;
        line-height: 1.6em;
    }
    #preview p.label {
        width: 250px;
        font-family: 'AvenirNextLTPro-Bold', sans-serif;
        color: #fff;
        text-transform: uppercase;
        border-bottom: 1px solid white;
    }
    #preview .btn {
        display: inline-block;
        margin-top: 130px;
        margin-left: 30px;
        padding: 2em;
    }
#content #preview .wrap {
    padding: 50px;  
}

/* ==========================================================================
    PAGE FICHE
   ========================================================================== */
#content.fiche #preview { width: 66%; display: block !important; margin: 0 auto; float: none; overflow-y:scroll; overflow-x:hidden;background-color: rgba(0,0,0,.35); padding-left: 0 }
#content.fiche #preview .loading { left: 50% }
#content.fiche #preview .wrap { width: 78%; padding-top: 75px; display: block !important; margin: 0 auto; position: relative }
#content.fiche #preview .wrap .pro { display: block; width: 80px; height: 25px; background-color: #4787ab; font-family: 'AvenirNextLTPro-Bold', sans-serif; font-size: .68em; color: #fff; line-height: 25px; text-transform: uppercase; letter-spacing: .1em; padding-left: 9px; box-sizing: border-box; -moz-box-sizing: border-box; position: absolute; left: 160px; top: -25px;}
#content.fiche #preview .wrap .img-wrap {position: relative; display: inline-block;width: 325px;}
#content.fiche #preview .wrap img.profil {margin-right: 10px;}
#content.fiche #preview .wrap a.thumb {display: inline-block; margin-bottom: 10px; width: 70px;}
#content.fiche #preview .wrap .infos { display: inline-block; vertical-align: top; float: right;}
#content.fiche #preview .wrap .infos h2 { float: left; }
#content.fiche #preview .wrap .infos h4.palmares {font-family: 'AvenirNextLTPro-Bold', sans-serif; color: #fff; margin-top: 0; margin-bottom: 30px; font-size: 1.5em; line-height: 1.5em; }
#content.fiche #preview .wrap .infos p.club {clear:both;font-family: 'AvenirNextLTPro-Bold', sans-serif; color: white; text-decoration: underline;font-size: .75em;margin-bottom: 25px;margin-top: 0;  }
#content.fiche #preview .wrap .infos span.radio {width: 10px; height: 10px; border-radius: 5px; display: inline-block; vertical-align: baseline;margin-left: 15px; cursor:pointer;}
#content.fiche #preview .wrap .infos span.radio.available {background-color: #2ecc71;}
#content.fiche #preview .wrap .infos span.radio.unAvailable {background-color: #c0392b;}
#content.fiche #preview .wrap .link-wrap {overflow:auto; position: absolute;top: 410px;}
#content.fiche #preview a.btn {
    padding: .8em;
    overflow: auto;
    display: block;
    width: 240px;
    text-align: center;
    margin-left: 0;
    margin-top: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    line-height: 29px;
}

/* ==========================================================================
    FOOTER
   ========================================================================== */
footer {
    height: 20px;
    width: 100%;
    background-color: black;
    position: fixed;
    bottom: 0;
    z-index: 9999;
}
    footer ul, footer li {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    footer ul.links {
        padding-left: 10px;
        width: 250px;
        display: inline-block;
    }
    footer ul.social {
        float: right;
        padding-right: 10px;
    }
    footer ul.social li {
        width: 10px;
    }
    footer li {
        display: inline-block;
        height: 20px;
        color: #bababa;
        line-height: 20px;
        font-size: 11px;
    }
        footer li a {
            display: inline-block;
            font-size: 11px;
            color: #bababa;
            text-transform: uppercase;
            text-decoration: none;
            line-height: 20px;
            -webkit-transition: color .25s ease;
            -moz-transition: color .25s ease;
            transition: color .25s ease;
        }
        footer li a:hover {
            color: white;
            -webkit-transition: color .25s ease;
            -moz-transition: color .25s ease;
            transition: color .25s ease;
        }

/* ==========================================================================
    PAGE CONNEXION / INSCRIPTION
   ========================================================================== */
/**

- importer ton taf sur inscription (pour les input background:transparent avec border-bottom (pas oublier le border:none), pour le focus : background:white !important; pour réecrire sur transparent  ||||  virer les labels et mettre des placeholder tu peux les styler avec text-transform line-height etc) ||||  Sortir le titre et sous-titre du form 
- faire toutes les pages inscriptions part2 dans différents fichiers php en commencant par le <fieldset>

**/


/* Style page connexion ? -> */
.signin{
    background: url('../images/background_hand.jpg') fixed center;
    background-position: cover;
}
form#connexionBox {
    display:block;
    width: 273px;
    height: 155px;
    top: 0;left: 0;right: 0;bottom: 0;
    margin: auto;
}
    form#connexionBox input {
        width:272px;
        height: 49px;
        display: block;
        color:#aaa;
        padding:  0 10px;
        font-family: "AvenirNextLTPro-Regular";
        outline: none;
    }
    form#connexionBox input:not(.mail){
          border:none;
    }
    form#connexionBox .mail{
        border-bottom:1px solid;
        border-top:0px;
        border-left:0px;
        border-right:0px;
        border-color: #ccc;
    }
    form#connexionBox input:not(.submit):focus{
       background:#f4f1f1;
    }
    form#connexionBox .submit{
        margin-top: 1.4%;
        background: #529ecc;
        color:white;
        font-family: 'AvenirNextLTPro-Bold';
        font-size: 1em;
        padding:  0 10px;
        width: 292px;
        box-shadow: 
        line-height: 100%;
        vertical-align: middle;
        text-align: center;
        cursor: pointer;
        transition: background 0.1s ease-in-out;
        -webkit-transition: background 0.1s ease-in-out;
        -moz-transition: background 0.1s ease-in-out;
        -ms-transition: background 0.1s ease-in-out;
        -o-transition: background 0.1s ease-in-out;
        text-shadow: 0 1px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 3px 0px 0px #417ea3;
    }
    form#connexionBox .submit:active {
        padding-top: 5px;
        margin-bottom: -1px;
    }
    form#connexionBox .submit, .submit:hover, .submit:active {
        outline: 0 none;
        text-decoration: none;
        color: #fff;
    }
    form#connexionBox .submit:hover {
        background-color: #59addf;
    }
    form#connexionBox .submit:active {
        box-shadow: 0px 1px 0px 0px #417ea3;
    }

    .inscriptionLink {
        text-decoration:underline;
        color:white;
        margin-top: 2.4%;
        text-align: center;
    }
     .info_pop{
        margin-top: 42px;
        margin:0 auto;
        display: block;
        width:251px;
        height: 147px;
        background: rgba(23,23,23,0.86);
        padding:5px 19px 5px 19px;
        position: relative;
        left: 10px;
        margin-bottom: 66px;
    }
    .info_pop img{
        display: block;
        margin: 0 auto;
    }
    .barre{
        position:relative;
        top:12px;
        left:2px;
    }
     .info_pop p{
        font-size: 12px;
        color:#bababa;
        text-align: center;
        font-family: 'AvenirNextLTPro-Regular';
    }
    .info_pop button {
         background-color: rgb( 82, 158, 204 );
          box-shadow: 0.5px 0.866px 1px 0px rgb( 0, 0, 0 );
          width: 103px;
          height: 22px;
          font-size: 12px;
          outline: none;
          border:none;
          color:white;
          text-transform: uppercase;
          margin:0 auto;
          font-family: 'AvenirNextLTPro-Bold';
          display: block;
          margin-bottom: 8px;
    }
/* ==========================================================================
    PAGE INSCRIPTION
   ========================================================================== */
    .inscription {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
    position: fixed;
    background:url('../images/bg_inscription.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 0.75em;
    font-family: 'AvenirNextLTPro-UltLt';
}
.logo_inscr{
        width: 248px;
        padding-top: 9px;
        padding-bottom: 14px;
        margin: 0 auto;
        display: block;
}
.form_inscr{
    display:block;
    width: 547px;
    height: 493px;
    margin: 0 auto;
    background: rgba(23,23,23,0.85);
    font-size: 24px;
    line-height: 1.25;
    position: relative;

}
legend {
    padding-left: 17px;
    color:#4787ab;
    font-size: 24px;
    font-family: "AvenirNextLTPro-Regular";
    padding-top: 15px;
}
.legend_subtitles{
  background-color: rgb( 233, 233, 233 );
  opacity: 0.8;
  width: 577px;
  height: 42px;
  z-index: 61;
  color:black;
  font-size: 12px;
  position:relative;
  left:-54px;
  line-height: 42px;
  margin-bottom: 21px;
}
.triangle{
    width: 0;
    height: 0;
    position: relative;
    display: inline-block;
}
.topleft{
    top: -17px;
    right: 0px;
    border-top: 17px solid #888686;
    border-left: 17px solid transparent;
}
.topright{
    top: -17px;
    left: 540px;
    border-top: 17px solid #888686;
    border-right: 17px solid transparent;
}
.legend_subtitles p {
     padding-left: 50px;
}
.form_inscr fieldset{
    border:0;
    padding-left: 37px;
    padding-bottom: 20px;
}
.form_inscr input:not([type="submit"]):not([type="date"]):not([type="radio"]),.add_club input:not([type="submit"]):not([type="date"]):not([type="radio"]){
width: 200px;
height: 17px;
background: transparent;
color: #bababa;
font-family: "AvenirNextLTPro-Regular";
border: none;
border-bottom: 1px solid #bababa;
}
input,select{
    font-size: 12px;
}
.select_custom{
    width: 202px;
    height: 38px;
    border: none;
    background-color: #f7f7f7;
    box-shadow: none;
    -webkit-appearance: none;
    color: #7a7979;
    text-transform: uppercase;
    padding: .5em;
    border-radius: 0;
    position: relative;
    margin: 0 auto;
    background-image: url(img/chevron_down.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-position-x: 95%;
}
input:focus{
    border: none;
    -moz-border: none;
    background-color: #f2f2f2 !important;
    color: #242424 !important;
    outline: none;
}
.champ{
    display: inline-block;
    margin-right: 50px;
    position: relative;
    vertical-align: top;
    margin-bottom:30px;
}
label:not(.bouton_radio){
    display: block;
    width:200px;
    font-size: 12px;
    color:#7a7979;
    font-family: 'AvenirNextLTPro-Medium';
    text-transform: uppercase;
}
::-webkit-input-placeholder {
    display: block;
    width:200px;
    font-size: 12px;
    color:#7a7979;
    font-family: 'AvenirNextLTPro-Medium';
    text-transform: uppercase;
}

:-moz-placeholder { /* Firefox 18- */
    display: block;
    width:200px;
    font-size: 12px;
    color:#7a7979;
    font-family: 'AvenirNextLTPro-Medium';
    text-transform: uppercase;
}

::-moz-placeholder {  /* Firefox 19+ */
    display: block;
    width:200px;
    font-size: 12px;
    color:#7a7979;
    font-family: 'AvenirNextLTPro-Medium';
    text-transform: uppercase;  
}

:-ms-input-placeholder {  
    display: block;
    width:200px;
    font-size: 12px;
    color:#7a7979;
    font-family: 'AvenirNextLTPro-Medium';
    text-transform: uppercase;  
}
.radio_option{
    font-size: 11px;
    color:#7a7979;
    font-family: 'AvenirNextLTPro-Medium';
}
.sexe_input{
    margin-bottom: 10px;
}
.valid{
  background-color: rgb( 71, 135, 171 );
  box-shadow: 1px 1px 0px 0px rgb( 0, 0, 0 );
  width: 121px;
  height: 31px;
  text-transform: uppercase;
  color:white;
  border:none;
  display: inline-block;
  margin-right: 15px;
  bottom: 19px;
  left: 35px;
  position:absolute;
}

.mail{
    border-bottom:1px solid;
    border-top:0px;
    border-left:0px;
    border-right:0px;
    border-color: #ccc;
}
.champ_video{
    margin-top: -48px;
}
.etape {
    background-color: rgb( 187, 187, 187 );
    position: relative;
    right: 0px;
    bottom: 0px;
    position: absolute;
    width: 30px;
    height: 24px;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    line-height: 24px;
}
.photo{
    margin-right: 15px;
}
.add{
right: 0px;
bottom:0px;
position: absolute;
}
.boxeur_list{
    width:202px;
    height:128px;
    font-size: 12px;
    font-family: "AvenirNextLTPro-Regular";

}
.boxeur_list p{
    display: inline-block;
    vertical-align: top;
    line-height: 15px;
    width: 117px;
}
.boxeur-input{
    width:163px;
    height: 37px;
    background: #f7f7f7;
    display: block;
    line-height: 37px;
    color:#7a7979;
    padding-left: 16px;
    margin-bottom: 8px;
}

.mention_legales{
    font-size: .4em;
    color:white;
    height: 36px;
    width: 250px;
    display: inline-block;
    position: absolute;
    bottom: 15px;
    left: 175px;
}
.mention_legales a{
    color:#477690;
    text-decoration: none;
}
/* ==========================================================================
    POP UP AJOUT CLUB
   ========================================================================== */
.add_club{
    width: 550px;
    height: 389px;
    background-color: #171717;
    border-bottom: 12px solid #4787ab;
    position: relative;
    margin:0 auto;
}

fieldset{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 1px;
    padding-bottom: 13px;
    border: none;
}
.ajouter {
    color:#4787ab;
    font-size: 18px;
    margin-bottom: 10px;
    padding-top: 20px;
    margin-left: 30px;
    font-family: "AvenirNextLTPro-Regular";
}
.champ2{
    display: inline-block;
    margin-right: 40px;
    position: relative;
}
    .close{
        position: absolute;
        top:6px;
        right: 6px;
        display: inline-block;
        cursor:pointer;
    }
    .upload{
        margin-right: 41px;
        margin-top:5px;
    }
    fieldset p:not(.completer){
        color:#7a7979;
        font-size:14px;
        font-family: 'AvenirNextLTPro-Regular', sans-serif;
    }
    p.completer {
        font-size: 1em;
    }
    .add_button{
        position: absolute;
        right: 60px;
        bottom:40px;
        width: 95px;
        height: 32px;
        text-transform: uppercase;
        color:white;
        border:none;
        background-color: rgb( 71, 135, 171 );
        box-shadow: 1px 1px 0px 0px rgb( 0, 0, 0 );
        display: inline-block;
    }
/* ==========================================================================
    POP UP AJOUT CLUB
   ========================================================================== */
   .add_club{
    width: 550px;
    height: 389px;
    background-color: #171717;
    border-bottom: 12px solid #4787ab;
    position: relative;
    margin:0 auto;
}

    fieldset{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 1px;
    padding-bottom: 13px;
    border: none;
    }
    .ajouter {
        color:#4787ab;
        font-size: 18px;
    margin-bottom: 10px;
    padding-top: 20px;
    margin-left: 30px;
    font-family: "AvenirNextLTPro-Regular";
    }
    .champ2{
    display: inline-block;
    margin-right: 40px;
    position: relative;
    }
    .close{
        position: absolute;
        top:6px;
        right: 6px;
        display: inline-block;
        cursor:pointer;
    }
    .upload{
        margin-right: 41px;
        margin-top:5px;
    }
    fieldset p:not(.completer){
    color:#7a7979;
    font-size:14px;
    font-family: 'AvenirNextLTPro-Regular', sans-serif;
    }
    .add_button{
    position: absolute;
    right: 60px;
    bottom:40px;
    width: 95px;
    height: 32px;
    text-transform: uppercase;
    color:white;
    border:none;
    background-color: rgb( 71, 135, 171 );
    box-shadow: 1px 1px 0px 0px rgb( 0, 0, 0 );
    display: inline-block;
    }
/* ==========================================================================
    PAGE 404
   ========================================================================== */

.imgcontainer{
    height: 100%;
    width: 100%;
    background: url('../images/404.png') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* ==========================================================================
    DIVERS (animation, loading, popin etc..)
   ========================================================================== */

/* style slider sidebar */
.noUi-target {
    width: 80%;
    height: 3px;
    background-color: #f9f9f9;
    margin: 0 auto;
}
    .noUi-handle {
        width: 15px; height: 15px;
        border-radius: 100%; background: #4787ab;
    }
/* Style overlay + popin */
#overlay {
    display: block;
    background: rgba(0, 0, 0, .6);
    width: 100%; height: 100%;
    position: absolute;
    z-index: 100;
    top: 0; left: 0;
    opacity: 0;
}
#popin {
    position: absolute;
    z-index:101;
    width: 65%;
    height: 50%;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
    background-color: #101010;
    border: 5px solid #171717;
    padding: 15px;
    overflow-x:hidden;
    overflow-y:scroll;
}
a.closePopin {
    position: absolute;
    z-index: 9999;
    left: 96%;
    top: 6px;
    color: white;
    text-decoration: none;
    width: 25px; height: 25px;
    text-align: center;
    line-height: 25px;
}
#popin h3 {
    font-family: 'AvenirNextLTPro-Regular', sans-serif;
    color: #4787ab;
    font-size: .875em;
    text-transform: uppercase;
    text-align: center;
}

#popin h4 {
    font-family: 'AvenirNextLTPro-Regular', sans-serif;
    font-size: .875em;
    text-decoration: underline;
    color: #ffffff;
}
#popin h5 {
    font-family: 'AvenirNextLTPro-UltLt', sans-serif;
    font-size: .875em;
    text-decoration: underline;
    color: #ffffff;
}
#popin p {
    font-family: 'AvenirNextLTPro-UltLt', sans-serif;
    font-size: .875em;
    color: #ffffff;
}


/* Style for the loading animation */
.bubblingG {
    text-align: center;
    width:80px;
    height:50px;
}

.bubblingG span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 25px auto;
    background: #868686;
    -moz-border-radius: 50px;
    -moz-animation: bubblingG 1.3s infinite alternate;
    -webkit-border-radius: 50px;
    -webkit-animation: bubblingG 1.3s infinite alternate;
    -ms-border-radius: 50px;
    -ms-animation: bubblingG 1.3s infinite alternate;
    -o-border-radius: 50px;
    -o-animation: bubblingG 1.3s infinite alternate;
    border-radius: 50px;
    animation: bubblingG 1.3s infinite alternate;
}

#bubblingG_1 {
    -moz-animation-delay: 0s;
    -webkit-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
}

#bubblingG_2 {
    -moz-animation-delay: 0.39s;
    -webkit-animation-delay: 0.39s;
    -ms-animation-delay: 0.39s;
    -o-animation-delay: 0.39s;
    animation-delay: 0.39s;
}

#bubblingG_3 {
    -moz-animation-delay: 0.78s;
    -webkit-animation-delay: 0.78s;
    -ms-animation-delay: 0.78s;
    -o-animation-delay: 0.78s;
    animation-delay: 0.78s;
}

@-moz-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:#868686;
        -moz-transform: translateY(0);
    }

    100% {
        width: 24px;
        height: 24px;
        background-color:#4787ab;
        -moz-transform: translateY(-21px);
        }

}

@-webkit-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:#868686;
        -webkit-transform: translateY(0);
    }

    100% {
        width: 24px;
        height: 24px;
        background-color:#4787ab;
        -webkit-transform: translateY(-21px);
    }

}

@-ms-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:#868686;
        -ms-transform: translateY(0);
    }

    100% {
        width: 24px;
        height: 24px;
        background-color:#4787ab;
        -ms-transform: translateY(-21px);
    }

}

@-o-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:#868686;
        -o-transform: translateY(0);
    }

    100% {
        width: 24px;
        height: 24px;
        background-color:#4787ab;
        -o-transform: translateY(-21px);
    }

}

@keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:#868686;
        transform: translateY(0);
    }

    100% {
        width: 24px;
        height: 24px;
        background-color:#4787ab;
        transform: translateY(-21px);
    }

}

/*  Style for the scroll bar  */

 ::-webkit-scrollbar { width: 6px; position: absolute;} 
 /* Track */ 
 ::-webkit-scrollbar-track { 
    -webkit-border-radius: 10px; border-radius: 10px; 
} 
/* Handle */ 
::-webkit-scrollbar-thumb { 
    -webkit-border-radius: 5px; 
    border-radius: 5px; 
    background: rgba(255,255,255,0.15);  } 
    ::-webkit-scrollbar-thumb:window-inactive { background: rgba(255,255,255,0.1); 
}

/* ==========================================================================
    MEDIA-QUERIES
   ========================================================================== */

@media only screen and (max-width: 960px) {
    #list {
        min-width: 193px;
        float: left;
    }
    #preview {
        padding-left: 20px;
        padding-top: 20px;
        overflow-y: scroll;
        min-width: 300px;
    }
    #preview .wrap {
        width: 240px;
    }
    #preview .wrap img {
        display: block;
        float: none;
        margin-bottom: 40px;
    }
    #preview .infos {
        display: block;
        padding-left: 0;
    }

    #preview p.label {
        width: 240px;
    }

    #preview a.btn {
        margin-top: 30px;
        margin-left: 0px;
        padding: 1.3em;
    }
}
