<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>La Bagarre</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
  </head>

<body>
Le header
	<div class="container">
<form method="post" action="envoieformEvent">
	<fieldset> <legend>Votre evenement</legend><br />
		<label for="nom">Nom</label> : <br />
			<input type="text" name="nom" required/><br />
		<label for="date">Jour de l'evenement</label> : 
		<br />
			<input type="date" name="date" required/>
		<br />
		<label for="heure">Heure de l'evenement</label> : 
		<br />
			<input type="time" name="heure" required/>
		<br />
		<label for="photo">Photos</label> : <br />
			<input type="file" name="photo"><br />
		<label for="adresse">Adresse</label> : <br />
			<input type="text" name="adresse"><br />
		<label for="codepostal">Code postal</label> : <br />
			<input input name="codepostal" type="text" pattern="[0-9]*" maxlength="5" required/><br />
		<label for="description">Description</label> : <br />
			<textarea rows="4" cols="50" name="description"></textarea><br />
		<label for="lien">Lien de l'événement</label> : <br />
			<input type="text" name="lien"><br />
	</fieldset>
	<input type="submit" name="envoi" value="Envoyer">
	<input type="reset" name="annuler" value="Annuler" />
</form>

</body>
<footer>
	Le footer
</footer>
    </div> <!-- /container -->
</body>
</html>