<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>La Bagarre</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
  </head>

<body>
Le header
	<div class="container">

  <ul>
    Connexion
    <li><a href="connexion">connexion</a></li>
    <li><a href="deconnexion">déconnexion</a></li>
    <!-- Inscription
  	<li><a href="formInscriptionSportif">inscription sportif</a></li>
    <li><a href="formInscriptionEntraineur">inscription entraineur</a></li>
    <li><a href="formInscriptionManageur">inscription manageur</a></li> -->
    Organiser
    <li><a href="formCreationClub">création d'un club</a></li>
    <li><a href="formCreationEvent"> création d'un event</a></li>
    Recherche
  	<li><a href="searchSportifs">liste des sportifs</a></li>
    <li><a href="searchEntraineurs">liste des entraineurs</a></li>
    <li><a href="searchManagers">liste des managers</a></li>
  	<li><a href="listEvents">liste des events</a></li>
  	<li><a href="searchClubs">liste des clubs</a></li>
    API
    <li><a href="api">API</a></li>
  </ul>

<?php var_dump($_SESSION) ?>
 
</body>
<footer>
	Le footer
</footer>
    </div> <!-- /container -->
</body>
</html>