<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>La Bagarre</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
  </head>

<body>
Le header
	<div class="container">
	

  <ul>
  	<li><a href="formInscriptionSportif">inscription</a></li>
  	<li><a href="searchSportifs">liste des boxeurs</a></li>
  	<li><a href="listEvents">liste des events</a></li>
  	<li><a href="listClubs">liste des clubs</a></li>
  </ul>


</body>
<footer>
	Le footer
</footer>
    </div> <!-- /container -->
</body>
</html>