<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>La Bagarre</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
  </head>

<body>
Le header
	<div class="container">
<form method="post" action="envoieform">
	<fieldset> <legend>Votre profil</legend><br />
		<label for="nom">Nom</label> : <br />
			<input type="text" name="nom" id="nom" required/><br />
		<label for="prenom">Prénom</label> : <br />
			<input type="text" name="prenom" id="prenom" required/><br />
		<label for="password">Mot de passe</label> : <br />
			<input type="text" name="password" id="password" required/><br />
		<label for="anniversaire">Date de naissance</label> : <br />
			<input type="date" name="anniversaire" id="anniversaire" required>
			<!-- <input type="number" name="jour" min="1" max="31" required>
			<input type="number" name="mois" min="1" max="12" required>
			<input type="number" name="an" min="1940" max="2014" required> --><br />
		<label for="sexe">Sexe</label> : <br />
			<label for="masculin">Homme
				<input type="radio" name="sexe" value="M" checked></label>
			<label for="feminin">Femme
				<input type="radio" name="sexe" value="F"></label><br />
		<label for="email">E-Mail</label> : <br />
			<input type="mail" name="email" id="email" required/><br />
		<label for="photo">Photo de profil</label> : <br />
			<input type="file" name="photo"><br />
		<label for="classe">Niveau</label> : <br />
			<select name="classe">
				<option>Débutant</option>
				<option>Intermédiaire</option>
				<option>Professionnel</option>
			</select><br />
		<label for="dispo">Disponibilité</label> : <br />
			<label for="oui">Disponible
				<input type="radio" name="dispo" value="O" checked></label>
			<label for="non">Pas disponible
				<input type="radio" name="dispo" value="N"></label><br />
		<label for="poids">Poids</label> : <br />
			<input type="number" name="poids" value="70" required/><br />
		<label for="taille">Taille</label> : <br />
			<input type="number" name="taille" value="180" required/><br />
		<label for="main">Main</label> : <br />
			<label for="droitier">Droitier
				<input type="radio" name="main" value="D" checked></label>
			<label for="gaucher">Gaucher
				<input type="radio" name="main" value="G"></label><br />
		<label for="palmares">Palmares</label> : <br />
			<input type="text" name="palmares"><br />
	</fieldset>
	<input type="submit" name="envoi" value="Envoyer">
	<input type="reset" name="annuler" value="Annuler" />
</form>

</body>
<footer>
	Le footer
</footer>
    </div> <!-- /container -->
</body>
</html>