<?php
	require('header.html');
?>
<form method="post" action="envoieform">
	<fieldset> <legend>Votre profil</legend><br />
	<label for="nom">Nom</label> : <br /><input type="text" name="nom" id="nom" value="test" required/><br />
	<!-- <label for="prenom">Prénom</label> : <br /><input type="text" name="prenom" id="prenom" value="test"required/><br />
	<label for="anniversaire">Date de naissance</label> : <br /><input type="date" name="anniversaire"><br />
	<label for="poids">Poids</label> : <br /><input type="number" name="poids" value="55"><br />
	<label for="taille">Taille</label> : <br /><input type="number" name="taille" value="180"><br />
	<label for="email">E-Mail</label> : <br /><input type="mail" name="email" id="email" value="test@test.fr"required/><br />
	<label for="photo">Photo de profil</label> : <br /><input type="file" name="photo"><br /> -->
	</fieldset>
	<input type="submit" name="envoi" value="Envoyer">
	<input type="reset" name="annuler" value="Annuler" />
</form>
<?php
	require('footer.html');
 ?>
