<?php require('header.html');?>
    <body>
        <img src="images/logotypo.png" class="logo"/>
        <form method="post" action="connexion" id="connexionBox">
            <input type="email" name="email" class="mail" placeholder="E-MAIL" required onclick="this.placeholder='';" onblur="this.placeholder=!this.placeholder?'E-MAIL':this.placeholder;" />
            <input type="password" name="password" placeholder="MOT DE PASSE" required onclick="this.placeholder='';" onblur="this.placeholder=!this.placeholder?'MOT DE PASSE':this.placeholder;"/>
            <input type="button" class="submit" name="submit" value="CONNEXION"/>
        </form>
        <a href="#" class="inscriptionLink">    <p> Pas encore inscrit ? </p>  </a>

        <footer>
            <ul class="links">
                <li><a href="#">cgu</a>&nbsp|&nbsp</li>
                <li><a href="#">contact</a>&nbsp|&nbsp</li>
                <li><a href="#">qui sommes nous?</a></li>
            </ul>
            <ul class="social">
                <li><a href=""><i class="icon-facebook"></i></a></li>
                <li><a href=""><i class="icon-twitter"></i></a></li>
            </ul>
        </footer>

    </body>
</html>
