<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>La Bagarre</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="public/css/normalize.css">
        <link rel="stylesheet" href="public/css/mfglabs_iconset.css">
        <link rel="stylesheet" href="public/css/avenir-font-face.css">
        <link rel="stylesheet" href="public/css/jquery.nouislider.css">
        <script src="public/js/vendor/modernizr-2.6.2.min.js"></script>
        <link rel="stylesheet" href="public/css/main.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header>
            <a href="#" class="menu-btn"><i class="icon-reorder"></i></a>
            <a href="home.html" class="logo"></a>
        </header>

        <div id="overlay">
            <div id="popin">
                <a href="#" class="closePopin"><i class="icon-cross_mark"></i></a>
            </div>
        </div>

        <div id="content">

            <div class="loading-wrap">
                <div class="loading">
                    <div class="bubblingG">
                        <span id="bubblingG_1"></span>
                        <span id="bubblingG_2"></span>
                        <span id="bubblingG_3"></span>
                    </div>
                </div>
            </div>
            <section id="sidebar" class="close">
                <div class="profil-sidebar">
                    <h3>nom prenom</h3>
                    <img src="public/images/sidebar-profil.png" alt="" class="profil-pic">
                    <span class="linksWrap">
                        <a href="profil">mon profil &nbsp|&nbsp</a>
                        <a href="deconnexion">deconnexion</a>
                    </span>
                </div>
                <input type="search" name="googlesearch" placeholder="rechercher"></input>
                <i class="icon-magnifying"></i>
                <form action="searchSportifs" method="post">    
                <h4>poid <span>(en Kg)</span></h4>
                <div id="poid"></div>
                <div class="poid value-wrap">
                    <input type="number" value="" class="value-span-1" name="poids_min"></input>
                    <input type="number" value="" class="value-span-2" name="poids_max"></input>
                </div>
                <h4>taille <span>(en cm)</span></h4>
                <div id="taille"></div>
                <div class="taille value-wrap">
                    <input type="number" value="" class="value-span-1" name="taille_min"></input>
                    <input type="number" value="" class="value-span-2" name="taille_max"></input>
                </div>
                <h4>distance <span>(en Km)</span></h4>
                <div id="distance"></div>
                <div class="distance value-wrap">
                    <input type="number" value="" class="value-span-1" name="distance_min"></input>
                    <input type="number" value="" class="value-span-2" name="distance_max"></input>
                </div>
                <h4>sport</h4>
                <select name="sport" id="sport-select">
                    <i class="icon-chevron_down"></i>
                    <option value="Boxe">Boxe</option>
                    <option value="Boxe Française">Boxe Française</option>
                    <option value="Full Contact">Full Contact</option>
                    <option value="Aïkido">Aïkido</option>
                    <option value="Judo">Judo</option>
                    <option value="Karate">Karate</option>
                </select>
                <input type="submit" value="Envoyer" class="valid">
                </form>
            </section>
            <section id="list">
                <ul>
                    <?php 
                       require('partials/sportifs.html');
                    ?>
                </ul>

            </section>
            <section id="preview">
                <?php require('partials/preview.php'); ?>
            </section>
        </div>

        <footer>
            <ul class="links">
                <li><a href="#" data-content="cgu">cgu</a>&nbsp&nbsp|&nbsp</li>
                <li><a href="#" data-content="contact">contact</a>&nbsp&nbsp|&nbsp</li>
                <li><a href="#" data-content="who">qui sommes nous?</a></li>
            </ul>
            <ul class="social">
                <li><a href=""><i class="icon-facebook"></i></a></li>
                <li><a href=""><i class="icon-twitter"></i></a></li>
            </ul>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="public/js/plugins.js"></script>
        <script src="public/js/vendor/jquery.nouislider.js"></script>
        <script src="public/js/main.js"></script>
    </body>
</html>
